/* Fonts {{{ */

@font-face {
	font-family: 'League Gothic';
	src: url('/fonts/league-gothic/League_Gothic-webfont.eot');
	src: local('☺'), url('/fonts/league-gothic/League_Gothic-webfont.woff') format('woff'), url('/fonts/league-gothic/League_Gothic-webfont.ttf') format('truetype'), url('/fonts/league-gothic/League_Gothic-webfont.svg#webfontpm5EArBj') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*}}}*/

/* Body styles {{{ */

body {
  background: #222;
  color: #eee;
  margin: 0px;
  padding: 0px;
}

body, input, select, textarea, td {
  font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/*}}}*/

/* Header {{{ */

#header {
  height: 64px;
  padding: 16px 64px;
  background: #222;
}

#header .logo {
  position: relative;
  font: 64px/64px "League Gothic", sans-serif;
  color: #eee;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 1px, rgba(255, 255, 255, 0.25) 0px 1px 1px;
}

#header .logo small {
  font-size: 100%;
  color: #666;
}

/*}}}*/

/* Main {{{ */

#main {
  background: #333;
  padding: 16px 64px;
  border-top: 1px solid #444;
  border-bottom: 1px solid #111;
}

/*}}}*/
