.field {
  background: #eee;
  position: relative;
  -moz-user-select: none;
  -khtml-user-select: none;
}

.field canvas {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
}

.row {
  height: 32px;
  -moz-user-select: none;
  -khtml-user-select: none;
}

.cell {
  float: left;
  width: 32px;
  height: 32px;
  position: relative;
  z-index: 1;
  cursor: default;
  -moz-user-select: none;
  -khtml-user-select: none;
}

.cell.entry {

}

.cell.entry-1:before,
.cell.entry-4:before,
.cell.entry-2:after,
.cell.entry-8:after,
.cell.exit-1:before,
.cell.exit-4:before,
.cell.exit-2:after,
.cell.exit-8:after {
  content: 'IN';
  position: absolute;
  left: 0px;
  top: -12px;
  right: 0px;
  background: #8dc63f;
  color: white;
  font-size: 12px;
  line-height: 12px;
  vertical-align: middle;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 1px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-transform-origin: 16px 28px;
  -moz-transform-origin: 16px 28px;
}

.cell.entry-2:after, .cell.exit-2:after   {
  -webkit-transform: rotate(90deg);  -moz-transform: rotate(90deg);  text-shadow: rgba(0, 0, 0, 0.5) -1px 0px 1px;
}
.cell.entry-4:before, .cell.exit-4:before {
  -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px;
}
.cell.entry-8:after, .cell.exit-8:after   {
  -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); text-shadow: rgba(0, 0, 0, 0.5) 1px 0px 1px;
}

.cell.exit-1:before,
.cell.exit-4:before,
.cell.exit-2:after,
.cell.exit-8:after {
  content: 'OUT';
  background: #ed1c24;
}

/* Map {{{ */

.map {
  position: relative;
  padding: 8px 172px 8px 8px;
  margin: 64px 0px 32px;
  z-index: 2;
  background: #333;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.5) 0px 1px 4px, rgba(255, 255, 255, 0.25) 0px 1px 1px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.5) 0px 1px 4px, rgba(255, 255, 255, 0.25) 0px 1px 1px;
}

.map .field {
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
}

/* }}} */

/* Tool palettes {{{ */

.map {
  -webkit-perspective: 1500;
}

.map .toolbar-container {
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: 8px;
  width: 156px;
  background: #222;
  z-index: -1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -webkit-transform-style: preserve-3d;
}

.map .toolbar {
  position: absolute;
  left: 6px;
  top: 6px;
  right: 6px;
  bottom: 6px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out;
}

.map.editing .toolbar-container.toolbar {
  opacity: 0;
  -webkit-transform: translateZ(1px);
}

.map.editing .toolbar-container {
  -webkit-transform: rotateY(180deg);
}

.map .toolbar-container .editor-tools {
  opacity: 0;
  -webkit-transform: translateZ(-1px) rotateY(-180deg);
}

.map.editing .toolbar-container .editor-tools {
  opacity: 1;
  z-index: 10;
}

.map .toolbar .tool {
  float: left;
  width: 32px;
  height: 32px;
  background: #444;
  color: #999;
  margin: 2px;
  font-size: 24px;
  line-height: 32px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.25) 0px 1px 1px;
}

.map .toolbar .tool.selected {
  background: #666;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: rgba(0, 0, 0, 0.75) 0px 0px 4px;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.5) 0px 1px 4px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.5) 0px 1px 4px;
}

.map .toolbar .tool.EntryPoint,
.map .toolbar .tool.ExitPoint {
  font-size: 12px;
}

/* }}} */

/* Editing {{{ */

.map .cell {
}

.map.editing .cell {
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.5) 1px 1px 1px, inset rgba(0, 0, 0, 0.15) -1px -1px 1px;
  -moz-box-shadow: inset rgba(255, 255, 255, 0.5) 1px 1px 1px, inset rgba(0, 0, 0, 0.15) -1px -1px 1px;
}

.map .resize {
  position: absolute;
  z-index: 1;
  right: 0px;
  bottom: 0px;
  margin: -20px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  background: url(/images/resize.png) no-repeat 0px 0px;
  opacity: 0;
  cursor: nw-resize;
  -webkit-transition: opacity 0.5s ease-in-out;
}

.map.editing .resize {
  opacity: 0.5;
}

.map .editor-switch {
  position: absolute;
  bottom: -24px;
  right: 52px;
  z-index: -1;
  background: #eee;
  width: 64px;
  padding: 0px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  opacity: 0.5;
  text-shadow: white 0px 1px 1px;
  -webkit-transform: scaleY(1);
  -webkit-transform-origin: center top;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
  -webkit-transition: -webkit-transform 0.25s ease-in-out, opacity 0.25s ease-in;
}

.map .editor-switch.off,
.map.editing .editor-switch.on {
  z-index: -2;
  opacity: 0;
  -webkit-transform: scaleY(0);
}

.map.editing .editor-switch.off {
  bottom: -24px;
  opacity: 0.5;
  -webkit-transform: scaleY(1);
}

.map .editor-switch.on:before { content: '✎ '; }
.map .editor-switch.off:before { content: '✔ '; }

/*}}}*/
