/* Map {{{ */

.field {
  background: #eee;
  position: relative;
  -moz-user-select: none;
  -khtml-user-select: none;
}

.field canvas {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  pointer-events: none;
}

.row {
  height: 32px;
  -moz-user-select: none;
  -khtml-user-select: none;
}

.cell {
  float: left;
  width: 32px;
  height: 32px;
  position: relative;
  z-index: 1;
  cursor: default;
  -moz-user-select: none;
  -khtml-user-select: none;
}

.cell.good { background-color: rgba(141, 198, 63, 0.5); }
.cell.bad { background-color: rgba(237, 28, 36, 0.5); }
.cell.good,
.cell.bad {
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.25) 0px 0px 2px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.25) 0px 0px 2px;
}


.cell.entry {

}

.cell.entry-1:before,
.cell.entry-4:before,
.cell.entry-2:after,
.cell.entry-8:after,
.cell.exit-1:before,
.cell.exit-4:before,
.cell.exit-2:after,
.cell.exit-8:after {
  content: 'IN';
  position: absolute;
  left: 0px;
  top: -12px;
  right: 0px;
  background: #8dc63f;
  color: white;
  font-size: 12px;
  line-height: 12px;
  vertical-align: middle;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 1px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-transform-origin: 16px 28px;
  -moz-transform-origin: 16px 28px;
}

.cell.entry-2:after, .cell.exit-2:after   {
  -webkit-transform: rotate(90deg);  -moz-transform: rotate(90deg);  text-shadow: rgba(0, 0, 0, 0.5) -1px 0px 1px;
}
.cell.entry-4:before, .cell.exit-4:before {
  -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px;
}
.cell.entry-8:after, .cell.exit-8:after   {
  -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); text-shadow: rgba(0, 0, 0, 0.5) 1px 0px 1px;
}

.cell.exit-1:before,
.cell.exit-4:before,
.cell.exit-2:after,
.cell.exit-8:after {
  content: 'OUT';
  background: #ed1c24;
}

.map {
  position: relative;
  padding: 8px 172px 8px 8px;
  margin: 64px 0px 32px;
  z-index: 2;
  background: #333;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.5) 0px 1px 4px, rgba(255, 255, 255, 0.25) 0px 1px 1px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.5) 0px 1px 4px, rgba(255, 255, 255, 0.25) 0px 1px 1px;
}

.map .field {
  position: relative;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
}

/* }}} */

/* Tool palettes {{{ */

.map {
  -webkit-perspective: 1500;
}

.map .toolbar-container {
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: 8px;
  width: 156px;
  background: #222 url(/images/noise.png);
  z-index: -1;
  z-index: 10;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -webkit-transform-style: preserve-3d;
}

.map .toolbar {
  position: absolute;
  left: 6px;
  top: 6px;
  right: 6px;
  bottom: 6px;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-out;
}

.map.editing .toolbar-container.toolbar {
  opacity: 0;
  -webkit-transform: translateZ(1px);
}

.map.editing .toolbar-container {
  -webkit-transform: rotateY(180deg);
}

.map .toolbar-container .editor-tools {
  opacity: 0;
  -webkit-transform: translateZ(-1px) rotateY(-180deg);
}

.map.editing .toolbar-container .editor-tools {
  opacity: 1;
  z-index: 10;
}

.map .toolbar .tool {
  float: left;
  width: 32px;
  height: 32px;
  background: #444;
  color: #999;
  margin: 2px;
  font-size: 24px;
  line-height: 32px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.25) 0px 1px 1px;
  -moz-box-shadow: inset rgba(255, 255, 255, 0.25) 0px 1px 1px;
}

.map .toolbar .tool.selected {
  background: #666;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: rgba(0, 0, 0, 0.75) 0px 0px 4px;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.5) 0px 1px 4px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.5) 0px 1px 4px;
}

.map .toolbar .tool.EntryPoint,
.map .toolbar .tool.ExitPoint {
  font-size: 12px;
}

.map .toolbar .life {
  position: absolute;
  left: 4px;
  bottom: 40px;
  width: 136px;
  height: 8px;
  background: #ed1c24;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.25) 0px -1px 2px, inset rgba(255, 255, 255, 0.25) 0px 4px 1px;
}

.map .toolbar .life:before {
  content: '.';
  text-indent: -3em;
  overflow: hidden;
  position: absolute;
  left: -2px;
  top: -2px;
  width: 140px;
  height: 12px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.5) 0px 1px 2px, rgba(255, 255, 255, 0.25) 0px 1px 1px;
}

.map .toolbar .towers {
  padding: 0px 0px 4px;
}

.map .toolbar .towers>.tool {
  float: left;
  position: relative;
  background: rgba(0, 0, 0, 0.15);
  margin: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.5) 0px 1px 2px, rgba(255, 255, 255, 0.25) 0px 1px 1px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.5) 0px 1px 2px;
}

/* }}} */

/* Towers {{{ */

.tower {
  position: relative;
  width: 32px;
  height: 32px;
  outline: none;
}

.tower .base {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -10px;
  width: 20px;
  height: 20px;
  background: #ccc;
}

.tower .turret {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -8px;
  width: 0px;
  height: 0px;
  border-bottom: 16px solid #999;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  -webkit-transition: -webkit-transform 0.12s ease-out;
}

.tower .controls {
  display: none;
  position: absolute;
  left: -4px;
  top: -20px;
  width: 32px;
  height: 16px;
  padding: 4px;
  background: #ffc;
  z-index: 10;
  opacity: 0.85;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 3px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.tower:focus .controls {
  display: block;
}

.tower .controls a {
  float: left;
  width: 16px;
  height: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  color: #333;
  font-size: 12px;
  line-height: 16px;
  vertical-align: middle;
  text-shadow: white 0px 1px 1px;
}

.tower .controls:after {
  content: '.';
  position: absolute;
  left: 50%;
  bottom: -4px;
  margin: 0px 0px 0px -4px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #ffc;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

.tower .pips {
  position: absolute;
  left: -4px;
  right: -4px;
  bottom: -4px;
  font-size: 8px;
  text-align: center;
  color: #f90;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px;
  letter-spacing: -2px;
}

.RifleTower .base,
.LaserTower .base {
  margin: -12px;
  width: 24px;
  height: 24px;
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.5) 0px 1px 2px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.5) 0px 1px 2px;
}

.RifleTower .base:after {
  z-index: 1;
  content: '.';
  text-indent: -3em;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -8px;
  border: none;
  background: #ccc;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px, inset rgba(255, 255, 255, 0.5) 0px 7px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px, inset rgba(255, 255, 255, 0.5) 0px 7px 2px;
}

.RifleTower .turret {
  border-top: none;
  border-bottom: none;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
  margin: -14px -2px;
  width: 2px;
  height: 14px;
  background: #999;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
}

.RifleTower .effect,
.RifleTower .effect:after,
.GrenadeTower .effect,
.GrenadeTower .effect:after {
  position: absolute;
  left: 50%;
  top: -10px;
  margin: 0px -4px;
  width: 8px;
  height: 12px;
  background: #ed1c24;
  opacity: 0;
  -webkit-border-top-left-radius: 4px 10px;
  -webkit-border-top-right-radius: 4px 10px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
}

.RifleTower .effect:after,
.GrenadeTower .effect:after {
  content: '.';
  text-indent: -3em;
  overflow: hidden;
  background: #ff9;
  top: 3px;
  height: 8px;
  width: 4px;
  margin: 0px -2px;
}

.LaserTower .base:before,
.LaserTower .base:after {
  z-index: 1;
  content: '.';
  text-indent: -3em;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  background: #bbb;
  width: 14px;
  height: 14px;
  margin: -7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
}

.LaserTower .base:before {
  background: #aaa;
  width: 20px;
  height: 20px;
  margin: -10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.LaserTower .turret {
  z-index: 2;
  border: none;
  background: #ccc;
  width: 8px;
  height: 8px;
  margin: -4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px, inset rgba(255, 255, 255, 0.5) 0px 3px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px, inset rgba(255, 255, 255, 0.5) 0px 3px 1px;
}

@-webkit-keyframes laser {
  0% {
    width: 8px;
    height: 8px;
    margin: -4px;
    opacity: 1;
    -webkit-border-radius: 4px;
  }
  100% {
    width: 24px;
    height: 24px;
    margin: -12px;
    opacity: 0;
    -webkit-border-radius: 12px;
  }
}

.LaserTower .effect {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -8px;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-box-shadow: #ed1c24 0px 0px 2px, inset #ed1c24 0px 0px 2px;
  -webkit-animation-name: laser;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
}

.IceTower .base {
  margin: -12px;
  width: 24px;
  height: 24px;
  background: #ccc;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
}

.IceTower .base:after {
  content: '.';
  text-indent: -3em;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  background: #aaa;
  width: 14px;
  height: 14px;
  margin: -7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
}

.IceTower .turret {
  width: 24px;
  height: 12px;
  background: #999;
  border: none;
  margin: -8px -12px;
  -webkit-border-radius: 12px 6px;
  -moz-border-radius-topleft: 12px 6px;
  -moz-border-radius-topright: 12px 6px;
  -moz-border-radius-bottomleft: 12px 6px;
  -moz-border-radius-bottomright: 12px 6px;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.25) 0px -2px 1px, inset rgba(255, 255, 255, 0.15) 0px 3px 3px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.25) 0px -2px 1px, inset rgba(255, 255, 255, 0.15) 0px 3px 3px;
  -webkit-transform-origin: 50% 8px;
  -moz-transform-origin: 50% 8px;
}

.IceTower .turret:after {
  content: '.';
  text-indent: -3em;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: -1px;
  width: 2px;
  height: 2px;
  margin: 0px -2px;
  background: #00aeef;
  border: 1px solid #80d7f7;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-box-shadow: #00aeef 0px 0px 4px;
  -moz-box-shadow: #00aeef 0px 0px 4px;
}

.IceTower .turret:before {
  content: '.';
  text-indent: -3em;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 1px;
  width: 2px;
  height: 5px;
  margin: 0px -1px;
  background: #80d7f7;
}

.GrenadeTower .base {
  background: none;
  overflow: hidden;
  text-align: center;
  color: #333;
  font-size: 44px;
  vertical-align: top;
  line-height: 24px;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
}

.GrenadeTower .base:before {
  content: '×';
  position: relative;
  top: -2px;
  left: -1px;
}

.GrenadeTower .turret {
  border: none;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -8px -12px;
  width: 24px;
  height: 9px;
  background: #6a952f;
  -webkit-border-top-left-radius: 5px 8px;
  -webkit-border-top-right-radius: 5px 8px;
  -moz-border-radius-topleft: 5px 8px;
  -moz-border-radius-topright: 5px 8px;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
}

.GrenadeTower .turret:before {
  content: '.';
  text-indent: -3em;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 8px;
  margin: 0px -7px;
  background: #476320;
  width: 14px;
  height: 8px;
  -webkit-border-bottom-left-radius: 3px 8px;
  -webkit-border-bottom-right-radius: 3px 8px;
  -moz-border-radius-bottomleft: 3px 8px;
  -moz-border-radius-bottomright: 3px 8px;
}

.GrenadeTower .turret:after {
  content: '.';
  text-indent: -3em;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: -3px;
  width: 4px;
  height: 7px;
  margin: 0px -2px;
  background: #333;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

.GrenadeTower .effect { top: -14px; }

/* }}} */

/* Editing {{{ */

.map .cell {
}

.map.editing .cell {
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.5) 1px 1px 1px, inset rgba(0, 0, 0, 0.15) -1px -1px 1px;
  -moz-box-shadow: inset rgba(255, 255, 255, 0.5) 1px 1px 1px, inset rgba(0, 0, 0, 0.15) -1px -1px 1px;
}

.map .resize {
  position: absolute;
  z-index: 1;
  right: 0px;
  bottom: 0px;
  margin: -20px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  background: url(/images/resize.png) no-repeat 0px 0px;
  opacity: 0;
  cursor: nw-resize;
  -webkit-transition: opacity 0.5s ease-in-out;
}

.map.editing .resize {
  opacity: 0.5;
}

.map .editor-switch {
  position: absolute;
  bottom: -24px;
  right: 52px;
  z-index: -1;
  background: #eee;
  width: 64px;
  padding: 0px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 24px;
  height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  opacity: 0.5;
  text-shadow: white 0px 1px 1px;
  -webkit-transform: scaleY(1);
  -webkit-transform-origin: center top;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
  -webkit-transition: -webkit-transform 0.25s ease-in-out, opacity 0.25s ease-in;
}

.map .editor-switch.off,
.map.editing .editor-switch.on {
  z-index: -2;
  opacity: 0;
  -webkit-transform: scaleY(0);
}

.map.editing .editor-switch.off {
  bottom: -24px;
  opacity: 0.5;
  -webkit-transform: scaleY(1);
}

.map .editor-switch:before { font-family: "Iconic"; text-transform: none; }
.map .editor-switch.on:before { content: 'p '; }
.map .editor-switch.off:before { content: 'y '; }

/*}}}*/
