<%= form.inputs :class => "connect twitter #{:connected if @user.twitter.present?}" do %>
  <% if @user.twitter.present? %>
    <h3>Connected to Twitter</h3>
    <p>You can log in to Towr.org by logging in to Twitter first.</p>
    <%= form.fields_for :twitter do |twitter| %>
      <%= twitter.input :visible, :label => "Display links to #{link_to "your Twitter profile", twitter.object.link}".html_safe %>
    <% end %>
  <% else %>
    <h3>Connect your Twitter account to Towr</h3>
    <p>Log in via Twitter to share your creations with your Twitter friends.</p>
    <p><%= link_to "Connect", connect_path(:twitter), :class => :button %></p>
  <% end %>
<% end %>
